// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button, .button:hover{padding:10px; background:#eee; border:1px solid #ccc; border-radius:2px; margin: 10px 15px; display:block; width:250px; text-align:center;}
.button:hover{color:#000;}