// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #ffffff;
$egg: #fafafa;
$gravy: #383c3c;
$border-grey: #f0f0f0;
$teal: #56c9cc;
$teal-border: #3ba6aa;
$padding: 10px;

@mixin top-highlight{
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .15);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .15);
}
@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color: #bababa) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

.hide{display:none}
#shows{
  position: absolute;
  top: 10px;
  left: 10px;
  height:90%;
  min-height: 500px;
  width: 355px;
  display: block;
  overflow: hidden;
  background: transparentize($white, .15);
  @include rounded;
  @include box-shadow(0px, 0px, 5px);
  
  .header{
    background: $egg;
    padding: $padding;
  }
  #filters{
    color: $white;
    background: $gravy;
    margin-bottom: $padding/2;
    padding: $padding;
    input[type="range"]{
      width: 90px;
    }
  }
  #markers_list{
      overflow: scroll;
      height: 100%;
      padding: 0px 5px;
  }
  li{
    margin: 2px;
    padding: 5px;
    background: $white;
    border: 1px solid $border-grey;
  }
  li span{
  	display:block;
  }
  .selected{
    background: $teal;
    border: 1px solid $teal-border;
    @include top-highlight
  }
  .hassongs{
  	background-image:url(/assets/headphones.png);
  	background-position: 100% 0;
  	background-repeat:no-repeat;
  }
  
}

.player{
	position:absolute;
	bottom:0;
	right:0;
	width:400px; 
	height:60px;
	background:#fff;
	}