// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #ffffff;
$egg: #fafafa;
$gravy: #515659;
$border-grey: #f0f0f0;
$teal: #56c9cc;
$teal-border: #3ba6aa;
$dk-grey: #383c3c;

$padding: 10px;

@mixin top-highlight{
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .15);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .15);
}
@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color: #bababa) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}
@mixin inner-shadow{
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
}

.hide{display:none}
#user{
  position: absolute;
  top: 10px;
  right: 10px;
}
.circle{
  height:38px;
  width:38px;
  @include inner-shadow;
  overflow: hidden;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  border: 1px solid $white;
	background-image:url(avatar.jpeg);
	background-size: 40px;
	background-repeat: no-repeat;
}
#shows{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 90px;
  width: 355px;
  overflow: hidden;
  background: transparentize($white, .15);
  @include rounded;
  @include box-shadow(0px, 0px, 5px);
  
  .frame{
    background: $gravy;
    padding: $padding;
  }
  #searchinput{
    width: 145px;
    float: right;
    margin: 0px;
    padding: 2px 5px;
  }
  #searchbutton{
    float: right;
    position: absolute;
    background-color: white;
    top: 14px;
    right: 16px;
    color: #fbfbfb;
    display: block;
    width: 16px;
    height: 16px;
  	background-image:url(/assets/ui/search.png);
  	background-position: 100% center;
  	background-repeat:no-repeat;
  }  	
  #filters{
    color: $gravy;
    margin-bottom: $padding/2;
    padding-top: $padding;
    position: relative;
    font-size: 12px;
    font-variant: small-caps;
    .filterSection{
      float: left;
      margin-left: 45px;
      
      span{
        display: block;
        width: 20px;
        float: left;
      }
    }
    .slider{
      width: 90px;
      height: 3px;
    }
    .ui-widget-content{
      background: #bababa;  
    }
    .ui-slider-handle{
      background: url(/assets/ui/slider-handle.png) 100% center no-repeat;
      margin-top: -3px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  #markers_div{
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #markers_list{
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 135px;
  }
  #list-footer{
    border-top: 1px solid $border-grey;
    padding: 5px 10px;
    font-size: 11px;
    position: absolute;
    display: block;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: $egg;
  }
  li{
    margin: 2px;
    padding: 8px;
    background: $white;
    border: 1px solid $border-grey;
    position: relative;
    height: 31px;
  }
  li span{
  	display:block;
  }
  .selected{
    background: $teal;
    border: 1px solid $teal-border;
    @include top-highlight
  }
  .hassongs{
  	background-image:url(/assets/ui/list-play.png);
  	background-position: 100% center;
  	background-repeat:no-repeat;
  }
  .singleact{
    line-height: 31px;
  }
  .headliner{
    font-weight: bold;
    font-size: 16px;
  }
  .acts{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }
}

.player{
	position:absolute;
	padding: $padding;
	bottom: 6px;
	right: 6px;
	width: 400px; 
  background: transparentize($dk-grey, .1);
  @include rounded;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .4);
  
  div{ float: left}
  
    #player-play{
      background-image:url(/assets/ui/player-play.png);
      background-position: 100% center;
      background-repeat:no-repeat;
      height: 23px;
      width: 23px;
      display: block;
      cursor: pointer;
    }
    #player-hud{
      @include rounded;
      -webkit-box-shadow: inset 0px -1px 3px 0px rgba(255, 255, 255, .3);
      box-shadow: inset 0px -1px 3px 0px rgba(255, 255, 255, .3);
      color: $white;
      font-size: 11px;
      padding: 3px 10px;
      display: block;
      width: 235px;
      background: transparentize(#262727, .3);
    }  
}
#player-window-controls{
  float: right;
}
#view-show{
	background-image:url(/assets/ui/find.png);
	background-position: 100% center;
	background-repeat:no-repeat;
	height: 13px;
	width: 9px;
	display: block;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
#player-size{
	background-image:url(/assets/ui/maximize.png);
	background-position: 100% center;
	background-repeat:no-repeat;
	height: 9px;
	width: 9px;
	display: block;
	cursor: pointer;
	float: left;

}

