<%= gmaps("map_options" => { "auto_zoom" => false, "auto_adjust"=>false}, "markers" => {"data" => @json, "options" => {"list_container" => "markers_list"} }) %>
<div id="shows">
  <div class="frame"><%= image_tag "ui/atndr-logo.png" %>
    <a href="#" id="searchbutton"></a>
    <input type="input" id="searchinput" placeholder="Search our shit…"/>
    <div class="clearfix"></div>
  </div>
  <div id="filters" class="clearfix">
    <div>
      date<br />
      <input type="range" id="dateFilter" min=0 max=5 /><span id="displayDateVal">
    </div>
    <div>
      miles<br />
      <input type="range" id="distFilter" min=1 max=10 /><span id="displayDistVal">
    </div>
  </div>
  <div id="markers_div">
    <ul id="markers_list">  </ul>
    </div>
  <div id="list-footer" class="frame">
    Showing <span>30</span> shows in <span>Seattle</span> within <span>5 days</span>
  </div>
</div>

<div class="player">
	<span class="playpause">play/pause</span>
	<span class="name"></span>
	<span class="show">View Show</span>
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
Gmaps.map.callback = function() {
	//Callback for gmaps. Must be in the view :(
	gmapsCallback();
}
</script>
<% end %>

