<%= gmaps("markers" => {"data" => @json, "options" => {"list_container" => "markers_list" } }) %>
<div id="shows">
  <div class="header">atndr</div>
  <div id="filters">DATE MILES</div>
  <ul id="markers_list">  </ul>
</div>
