<%= gmaps("map_options" => { "auto_zoom" => false, "auto_adjust"=>false}, "markers" => {"data" => @json, "options" => {"list_container" => "markers_list"} }) %>

<div id="user">
  <div class='circle'>
  </div>
</div>

<div id="shows">
  <div class="frame"><%= image_tag "ui/atndr-logo.png" %>
    <a href="#" id="searchbutton"></a>
    <input type="input" id="searchinput" placeholder="Search our shit…"/>
    <div class="clearfix"></div>
  </div>
  <div id="filters" class="clearfix">
    <div  class="filterSection">
      days away<br />
      <div class="slider" id="dateFilter"></div>
      <%= image_tag "ui/days-away.png" %>
    </div>
    <div class="filterSection">
      miles away<br />
      <div class="slider" id="distFilter"></div>
      <%= image_tag "ui/miles-away.png" %>
    </div>
  </div>
  <div id="markers_div">
    <ul id="markers_list">  </ul>
    </div>
  <div id="list-footer" class="frame">
    Showing <span>30</span> shows in <span>Seattle</span> within <span>5 days</span>
  </div>
</div>


<div class="player">
  <div id="audio-controls">
	  <span id="player-play" class="playpause"></span>
	</div>
	<div id="player-hud">
	  <span class="name">Listen to a mix of upcoming artists</span>
  </div>
  <div id="player-window-controls">
	  <span id="view-show" class="show"></span>
	  <span id="player-size"></span>
	</div>
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
Gmaps.map.callback = function() {
	//Callback for gmaps. Must be in the view :(
	gmapsCallback();
}
</script>
<% end %>

